.page {
	border-top: 3px solid #4d4d4d;
}

.page2 {
	background: url(../../../images/menus/topbar.png) 0 0 repeat-x;
}

.page,
.page2 {
	margin-bottom: 0;	
}

@include breakpoint(narrow) {
	.page2 {
		background-position: 0 -7px;
	}
	.page,
	.page2 {
		margin-bottom: 0;
	}
}

.page--2col {
	margin-bottom: 50px;
}

@include breakpoint(narrow) {
	.page--2col {
		margin-bottom: 0;
	}	
}

.page-width:after {
	clear: both;
}
.page-width:before, .page-width:after {
	content: "";
	@include table;
	line-height: 0;
}
.page-width:before, .page-width:after {
	content: "";
	@include table;
	line-height: 0;
}
.page-width {
	margin-left: auto;
	margin-right: auto;
}
.page-width{
	width: 940px;
}

@include breakpoint(medium) {
	.page-width{
		width: 720px;
	}
}

@include breakpoint(narrow) {
	.page-width{
		width: auto;
	}
}

@include breakpoint(narrow) {

}


