/* <fonts> */
/*
font-family:'Trade Gothic W01 Light';
font-family:'TradeGothicW01-LightObl';
font-family:'Trade Gothic W01 Roman';
font-family:'Trade Gothic W01 Obl';
font-family:'Trade Gothic W01 Bold';
font-family:'Trade Gothic W01 Bold 2';
font-family:'TradeGothicW01-Bold2Obl';
*/
/* <colours> */
/* <heading colors> */
/* <link colors> */
/* <field colors> */
/* <margins> */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: none; }

body {
  background-color: #fbfbfb;
  display: table;
  height: 100%;
  width: 100%; }

.page {
  border-top: 3px solid #4d4d4d; }

.page-width {
  margin-left: auto;
  margin-right: auto;
  width: 940px; }

.page-width:after {
  clear: both; }

.container__inner {
  margin-left: 120px; }

.header {
  position: relative;
  margin-bottom: 24px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100%;
  vertical-align: top; }
  .header h2, .header p {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .header h2 {
    padding-left: 15px; }

.logo-outer {
  width: 100px;
  height: 100px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.logo {
  width: 100px;
  height: 100px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  background: url(images/logo-flat.png) 0 0 no-repeat; }

.footer {
  background: #fafafa;
  width: 100%;
  display: table-row;
  *display: block;
  height: 1px;
  *height: auto;
  overflow: hidden; }

.footer .copyright {
  display: block;
  clear: both;
  padding: 0;
  padding-top: 20px;
  font-size: 90%;
  text-align: center;
  background: #f1f1f1;
  border-top: 1px solid #cbcbcb; }

.footer .copyright h4,
.footer .copyright p {
  margin: 0; }

.footer .copyright h4 {
  color: #737373;
  font-size: 16px; }

.footer .copyright .apple-attribution {
  padding: 0 0 40px 0;
  font-size: 12px; }

.footer .copyright .menu {
  padding-bottom: 30px; }

.footer .copyright li a {
  font-size: 12px;
  font-weight: bold;
  padding: 0; }

.footer ul,
.footer li {
  list-style-type: none;
  margin: 0; }

.footer .menu {
  text-align: center;
  display: block;
  margin: 0;
  padding: 13px; }

.footer .menu li {
  display: inline;
  margin: 0; }

.footer .copyright .menu li {
  font-size: 12px;
  padding: 0 15px; }

.footer .menu a {
  margin: 0;
  display: inline;
  padding: 0 20px;
  font-weight: bold; }

.footer .menu .current a {
  color: #737373;
  cursor: default; }

.footer .menu .current a:hover, .footer .menu .current a:focus {
  text-decoration: none;
  color: #737373; }

.footer .menu {
  padding-top: 18px;
  padding-bottom: 16px; }

.footer .menu {
  margin: 0; }

.copyright .menu {
  border: none; }

/* ==========================================================================
     $TYPOGRAPHY
   ========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #737373; }

a {
  color: #1481c6;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: underline; }

.alignleft {
  float: left;
  margin-right: 20px; }

.alignright,
.img-alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px; }

.alignleft,
.alignright {
  padding-top: 5px; }

.centered {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

strong {
  font-weight: bold; }

.strong-alt,
.text--brand {
  color: #ffbd00; }

small {
  font-size: 12px; }

.muted {
  color: #999999; }

p {
  margin: 10px 0; }

.page-intro {
  font-size: 20px;
  margin-bottom: 20px;
  color: #737373;
  font-family: "Trade Gothic W01 Light", Helvetica, Arial, Verdana, sans-serif; }

blockquote {
  margin: 20px 30px; }

blockquote small {
  color: #999999;
  display: block;
  line-height: 20px;
  font-size: 80%; }

hr {
  display: block;
  clear: both;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 10 ")";
  /* IE 5-7 */
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  /* Safari 1.x */
  -khtml-opacity: 0.1;
  /* Opera */
  -o-opacity: 0.1;
  /* Good browsers */
  opacity: 0.1;
  margin-top: 28px;
  margin-bottom: 25px; }

/* <headings> */
h1 {
  font-size: 32px;
  font-family: "Trade Gothic W01 Bold 2", Helvetica, Arial, Verdana, sans-serif;
  margin: 0 0 22px;
  line-height: 1.2; }

h1 strong,
h2 strong {
  font-weight: normal;
  font-family: "Trade Gothic W01 Bold 2", Helvetica, Arial, Verdana, sans-serif; }

.title--featured {
  font-size: 48px;
  color: #000000;
  font-weight: normal;
  font-family: "Trade Gothic W01 Light", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.2; }

.title--featured strong {
  font-family: "Trade Gothic W01 Bold", Helvetica, Arial, Verdana, sans-serif; }

h2 {
  font-size: 24px;
  font-family: "Trade Gothic W01 Light", Helvetica, Arial, Verdana, sans-serif;
  margin: 20px 0; }

h2 strong {
  font-family: "Trade Gothic W01 Bold", Helvetica, Arial, Verdana, sans-serif; }

h3 {
  font-size: 18px; }

.heading-alt {
  text-align: center;
  font-family: "Trade Gothic W01 Bold", Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  text-transform: uppercase; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 14px; }

h2,
h2 a,
h3,
h3 a,
h6,
h6 a {
  color: #464646; }

h1,
h1 a,
h4,
h4 a,
h5,
h5 a {
  color: #333333; }

h3,
h4,
h5,
h6 {
  font-weight: bold; }

h3,
h4,
h5,
h6 {
  margin: 20px 0 10px; }

.heading-twitter {
  background: url("../../../images/icons/icon-twitter.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  line-height: 40px;
  padding-left: 48px; }

/* </headings> */
/* <text> */
.text-s {
  font-size: 12px; }

.text-m {
  font-size: 14px; }

.privacy-link {
  font-size: 14px;
  margin-top: 15px;
  color: #C0BFBF; }

/* <lists> */
ul,
ol {
  margin: 0 0 20px 25px;
  padding: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

.list-unstyled,
.list-reset {
  margin-left: 0; }

.list-unstyled,
.list-simple,
.list-reset {
  list-style: none; }

.list-reset {
  margin-bottom: 0; }

.list-reset li {
  margin-bottom: 0; }

.list-multiline li {
  margin-bottom: 10px; }

.list-multiline ul,
.list-multiline ol {
  margin-top: 10px; }

/* </lists> */
/* <tables> */
table {
  margin-bottom: 20px; }

table td,
table th {
  padding: 5px 10px; }

table td:first-child,
table th:first-child {
  padding-left: 0; }

table th {
  color: #464646;
  font-weight: bold; }

/* </tables> */
.tagline {
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  margin-left: 40px;
  position: relative;
  top: 10px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.link-driver {
  color: #464646;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin-left: 20px;
  position: static;
  text-shadow: 0 1px 0 #FFFFFF;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  top: -2px; }

.link-driver strong {
  color: #A7A9AC;
  display: block;
  font-size: 20px;
  text-shadow: 0 1px 0 #FFFFFF;
  text-transform: uppercase;
  line-height: 18px; }

.link-taxi-driver {
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  vertical-align: middle; }
  .link-taxi-driver:hover {
    text-decoration: none; }

.link-taxi-driver span {
  background-image: url("../../../images/driver/driver-underline_mobile.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 67px 7px;
  display: inline-block;
  margin: 0 auto; }
