/* <fonts> */
/*
font-family:'Trade Gothic W01 Light';
font-family:'TradeGothicW01-LightObl';
font-family:'Trade Gothic W01 Roman';
font-family:'Trade Gothic W01 Obl';
font-family:'Trade Gothic W01 Bold';
font-family:'Trade Gothic W01 Bold 2';
font-family:'TradeGothicW01-Bold2Obl';
*/
/* <colours> */
/* <heading colors> */
/* <link colors> */
/* <field colors> */
/* <margins> */
/*----------------------------------------------------------------
	
	Styles Group: Utils

	1. Breakpoint
	2. CSS3 Mixins
	3. General Mixins
	4. Typography Mixins
	5. Helper Classes
----------------------------------------------------------------*/
/*----------------------------------------------------------------
	1. Breakpoint
----------------------------------------------------------------*/
/*----------------------------------------------------------------
	2. CSS3 Mixins
----------------------------------------------------------------*/
/*-----------------------------------------------------------
	
	$VENDOR

	Create vendor-prefixed CSS
	https://github.com/csswizardry/inuit.css/blob/master/inuit.css/generic/_widths.scss

	Usage:

	@include vendor(border-radius, 4px);

-----------------------------------------------------------*/
/*----------------------------------------------------------------
	3. General Mixins
----------------------------------------------------------------*/
/*----------------------------------------------------------------
	4. Typography Mixins
----------------------------------------------------------------*/
/*----------------------------------------------------------------
	5. Helper Classes
----------------------------------------------------------------*/
.clear {
  clear: both;
  height: 0;
  width: 0;
  overflow: hidden;
  display: block; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.current,
.current a:hover,
.current a:focus {
  cursor: default;
  text-decoration: none; }

.full {
  width: 100%; }

/* Responsive video

Example usage:

<div class="video-wrapper">
	<div class="video-container">
		<iframe src="http://player.vimeo.com/video/6284199?title=0&byline=0&portrait=0" width="800" height="450" frameborder="0"></iframe>
	</div>
</div>

*/
video {
  max-width: 100%;
  height: auto; }

.video-wrapper {
  max-width: 100%;
  /* put width here if need to restrict */ }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 1020px) {
  .hidden-medium {
    display: none !important; } }
.hidden-all-but-mobile,
.hidden-all-but-mobile-ib {
  display: none !important; }

@media screen and (max-device-width: 760px) {
  .hidden-all-but-mobile {
    display: block !important; }

  .hidden-all-but-mobile-ib {
    display: inline-block !important;
    zoom: 1;
    *display: inline !important; }

  .hidden-mobile {
    display: none !important; } }
.pull-left {
  float: left;
  margin-right: 15px; }

.pull-right {
  float: right;
  margin-left: 15px; }

.pull-left,
.pull-right {
  margin-bottom: 15px; }

.hidden {
  display: none !important; }

.is-hidden {
  display: none; }

/**
See https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css

* Spacing classes
* Should be used to modify the default spacing between objects (not between nodes of the same object)
* Please use judiciously. You want to be using defaults most of the time, these are exceptions!
* <type><location><size>
*/
/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(15px),extra large (20px), none(0px)
*/
.ptn, .pvn, .pan {
  padding-top: 0px !important; }

.pts, .pvs, .pas {
  padding-top: 5px; }

.ptm, .pvm, .pam {
  padding-top: 10px; }

.ptl, .pvl, .pal {
  padding-top: 15px; }

.ptel, .pvel, .pael {
  padding-top: 20px; }

.prn, .phn, .pan {
  padding-right: 0px !important; }

.prs, .phs, .pas {
  padding-right: 5px; }

.prm, .phm, .pam {
  padding-right: 10px; }

.prl, .phl, .pal {
  padding-right: 15px; }

.prel, .phel, .pael {
  padding-right: 20px; }

.pbn, .pvn, .pan {
  padding-bottom: 0px !important; }

.pbs, .pvs, .pas {
  padding-bottom: 5px; }

.pbm, .pvm, .pam {
  padding-bottom: 10px; }

.pbl, .pvl, .pal {
  padding-bottom: 15px; }

.pbel, .pvel, .pael {
  padding-bottom: 20px; }

.pln, .phn, .pan {
  padding-left: 0px !important; }

.pls, .phs, .pas {
  padding-left: 5px; }

.plm, .phm, .pam {
  padding-left: 10px; }

.pll, .phl, .pal {
  padding-left: 15px; }

.plel, .phel, .pael {
  padding-left: 20px; }

.mtn, .mvn, .man {
  margin-top: 0px !important; }

.mts, .mvs, .mas {
  margin-top: 5px; }

.mtm, .mvm, .mam {
  margin-top: 10px; }

.mtl, .mvl, .mal {
  margin-top: 15px; }

.mtel, .mvel, .mael {
  margin-top: 20px; }

.mrn, .mhn, .man {
  margin-right: 0px !important; }

.mrs, .mhs, .mas {
  margin-right: 5px; }

.mrm, .mhm, .mam {
  margin-right: 10px; }

.mrl, .mhl, .mal {
  margin-right: 15px; }

.mrel, .mhel, .mael {
  margin-right: 20px; }

.mbn, .mvn, .man {
  margin-bottom: 0px !important; }

.mbs, .mvs, .mas {
  margin-bottom: 5px; }

.mbm, .mvm, .mam {
  margin-bottom: 10px; }

.mbl, .mvl, .mal {
  margin-bottom: 15px; }

.mbel, .mvel, .mael {
  margin-bottom: 20px; }

.mln, .mhn, .man {
  margin-left: 0px !important; }

.mls, .mhs, .mas {
  margin-left: 5px; }

.mlm, .mhm, .mam {
  margin-left: 10px; }

.mll, .mhl, .mal {
  margin-left: 15px; }

.mlel, .mhel, .mael {
  margin-left: 20px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: none; }

/* normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* ==========================================================================
   Links
   ========================================================================== */
a:focus {
  outline: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 * 3. Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  max-width: 100%;
  vertical-align: middle;
  /* 3 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

select {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  -webkit-appearance: none; }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 * 3. Allow only vertical resizing of textareas.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  background-color: #fbfbfb;
  display: table;
  height: 100%;
  width: 100%; }

/* ==========================================================================
	 $TYPOGRAPHY
   ========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #737373; }

@media screen and (max-device-width: 760px) {
  body {
    font-size: 14px; } }
a {
  color: #1481c6;
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: underline; }

.alignleft {
  float: left;
  margin-right: 20px; }

.alignright,
.img-alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px; }

.alignleft,
.alignright {
  padding-top: 5px; }

.centered {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

strong {
  font-weight: bold; }

.strong-alt,
.text--brand {
  color: #ffbd00; }

small {
  font-size: 12px; }

.muted {
  color: #999999; }

p {
  margin: 10px 0; }

.page-intro {
  font-size: 20px;
  margin-bottom: 20px;
  color: #737373;
  font-family: "Trade Gothic W01 Light", Helvetica, Arial, Verdana, sans-serif; }

blockquote {
  margin: 20px 30px; }

blockquote small {
  color: #999999;
  display: block;
  line-height: 20px;
  font-size: 80%; }

hr {
  display: block;
  clear: both;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 10 ")";
  /* IE 5-7 */
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  /* Safari 1.x */
  -khtml-opacity: 0.1;
  /* Opera */
  -o-opacity: 0.1;
  /* Good browsers */
  opacity: 0.1;
  margin-top: 28px;
  margin-bottom: 25px; }

/* <headings> */
h1 {
  font-size: 32px;
  font-family: "Trade Gothic W01 Bold 2", Helvetica, Arial, Verdana, sans-serif;
  margin: 0 0 22px;
  line-height: 1.2; }

h1 strong,
h2 strong {
  font-weight: normal;
  font-family: "Trade Gothic W01 Bold 2", Helvetica, Arial, Verdana, sans-serif; }

.title--featured {
  font-size: 48px;
  color: #000000;
  font-weight: normal;
  font-family: "Trade Gothic W01 Light", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.2; }

.title--featured strong {
  font-family: "Trade Gothic W01 Bold", Helvetica, Arial, Verdana, sans-serif; }

@media screen and (max-device-width: 760px) {
  h1 {
    font-size: 23px;
    margin: 0 0 10px; }

  .title--featured {
    font-size: 23px; } }
h2 {
  font-size: 24px;
  font-family: "Trade Gothic W01 Light", Helvetica, Arial, Verdana, sans-serif;
  margin: 20px 0; }

h2 strong {
  font-family: "Trade Gothic W01 Bold", Helvetica, Arial, Verdana, sans-serif; }

@media screen and (max-device-width: 760px) {
  h2 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px; } }
h3 {
  font-size: 18px; }

@media screen and (max-device-width: 760px) {
  h3 {
    font-size: 16px; } }
.heading-alt {
  text-align: center;
  font-family: "Trade Gothic W01 Bold", Helvetica, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  text-transform: uppercase; }

h4 {
  font-size: 16px; }

@media screen and (max-device-width: 760px) {
  h4 {
    font-size: 14px; } }
h5 {
  font-size: 15px; }

@media screen and (max-device-width: 760px) {
  h5 {
    font-size: 14px; } }
h6 {
  font-size: 14px; }

h2,
h2 a,
h3,
h3 a,
h6,
h6 a {
  color: #464646; }

h1,
h1 a,
h4,
h4 a,
h5,
h5 a {
  color: #333333; }

h3,
h4,
h5,
h6 {
  font-weight: bold; }

h3,
h4,
h5,
h6 {
  margin: 20px 0 10px; }

.heading-twitter {
  background: url("../../../images/icons/icon-twitter.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  line-height: 40px;
  padding-left: 48px; }

/* </headings> */
/* <text> */
.text-s {
  font-size: 12px; }

.text-m {
  font-size: 14px; }

.privacy-link {
  font-size: 14px;
  margin-top: 15px;
  color: #C0BFBF; }

/* <lists> */
ul,
ol {
  margin: 0 0 20px 25px;
  padding: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

.list-unstyled,
.list-reset {
  margin-left: 0; }

.list-unstyled,
.list-simple,
.list-reset {
  list-style: none; }

.list-reset {
  margin-bottom: 0; }

.list-reset li {
  margin-bottom: 0; }

.list-multiline li {
  margin-bottom: 10px; }

.list-multiline ul,
.list-multiline ol {
  margin-top: 10px; }

/* </lists> */
/* <tables> */
table {
  margin-bottom: 20px; }

table td,
table th {
  padding: 5px 10px; }

table td:first-child,
table th:first-child {
  padding-left: 0; }

table th {
  color: #464646;
  font-weight: bold; }

/* </tables> */
.tagline {
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  margin-left: 40px;
  position: relative;
  top: 10px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.link-driver {
  color: #464646;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin-left: 20px;
  position: static;
  text-shadow: 0 1px 0 #FFFFFF;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  top: -2px; }

.link-driver strong {
  color: #A7A9AC;
  display: block;
  font-size: 20px;
  text-shadow: 0 1px 0 #FFFFFF;
  text-transform: uppercase;
  line-height: 18px; }

.link-taxi-driver {
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  vertical-align: middle; }
  .link-taxi-driver:hover {
    text-decoration: none; }

.link-taxi-driver span {
  background-image: url("../../../images/driver/driver-underline_mobile.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 67px 7px;
  display: inline-block;
  margin: 0 auto; }

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm--based devices, like phones and small tablets
 * lap      --  lap--based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap---one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap---one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm---one-half  push--palm---one-half"`
 *
   `class="grid__item  palm---one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm---one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid, .grid--rev, .grid--full, .grid--right, .grid--center {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */ }

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */ }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear.
 */
.grid--rev {
  direction: rtl;
  text-align: left; }
  .grid--rev > .grid__item {
    direction: ltr;
    text-align: left; }

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 */
.grid--full {
  margin-left: 0; }
  .grid--full > .grid__item {
    padding-left: 0; }

/**
 * Align the entire grid to the right.
 */
.grid--right {
  text-align: right; }
  .grid--right > .grid__item {
    text-align: left; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes.
 */
.grid--center {
  text-align: center; }
  .grid--center > .grid__item {
    text-align: left; }

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%; }

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
 * Tenths
 */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 1020px) {
  /**
   * Whole
   */
  .lap--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .lap--one-half, .lap--two-quarters, .lap--three-sixths, .lap--four-eighths, .lap--five-tenths, .lap--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .lap--one-third, .lap--two-sixths, .lap--four-twelfths {
    width: 33.333%; }

  .lap--two-thirds, .lap--four-sixths, .lap--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .lap--one-quarter, .lap--two-eighths, .lap--three-twelfths {
    width: 25%; }

  .lap--three-quarters, .lap--six-eighths, .lap--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .lap--one-fifth, .lap--two-tenths {
    width: 20%; }

  .lap--two-fifths, .lap--four-tenths {
    width: 40%; }

  .lap--three-fifths, .lap--six-tenths {
    width: 60%; }

  .lap--four-fifths, .lap--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .lap--one-sixth, .lap--two-twelfths {
    width: 16.666%; }

  .lap--five-sixths, .lap--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .lap--one-eighth {
    width: 12.5%; }

  .lap--three-eighths {
    width: 37.5%; }

  .lap--five-eighths {
    width: 62.5%; }

  .lap--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .lap--one-tenth {
    width: 10%; }

  .lap--three-tenths {
    width: 30%; }

  .lap--seven-tenths {
    width: 70%; }

  .lap--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .lap--one-twelfth {
    width: 8.333%; }

  .lap--five-twelfths {
    width: 41.666%; }

  .lap--seven-twelfths {
    width: 58.333%; }

  .lap--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (max-device-width: 760px) {
  /**
   * Whole
   */
  .palm--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .palm--one-half, .palm--two-quarters, .palm--three-sixths, .palm--four-eighths, .palm--five-tenths, .palm--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .palm--one-third, .palm--two-sixths, .palm--four-twelfths {
    width: 33.333%; }

  .palm--two-thirds, .palm--four-sixths, .palm--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .palm--one-quarter, .palm--two-eighths, .palm--three-twelfths {
    width: 25%; }

  .palm--three-quarters, .palm--six-eighths, .palm--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .palm--one-fifth, .palm--two-tenths {
    width: 20%; }

  .palm--two-fifths, .palm--four-tenths {
    width: 40%; }

  .palm--three-fifths, .palm--six-tenths {
    width: 60%; }

  .palm--four-fifths, .palm--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .palm--one-sixth, .palm--two-twelfths {
    width: 16.666%; }

  .palm--five-sixths, .palm--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .palm--one-eighth {
    width: 12.5%; }

  .palm--three-eighths {
    width: 37.5%; }

  .palm--five-eighths {
    width: 62.5%; }

  .palm--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .palm--one-tenth {
    width: 10%; }

  .palm--three-tenths {
    width: 30%; }

  .palm--seven-tenths {
    width: 70%; }

  .palm--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .palm--one-twelfth {
    width: 8.333%; }

  .palm--five-twelfths {
    width: 41.666%; }

  .palm--seven-twelfths {
    width: 58.333%; }

  .palm--eleven-twelfths {
    width: 91.666%; } }
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
.grid__item--full-height {
  margin-bottom: -1500px;
  padding-bottom: 1500px; }

.grid--full-height {
  overflow: hidden; }

/*----------------------------------------------------------------
	Styles Group: Main Layout
----------------------------------------------------------------*/
.page {
  border-top: 3px solid #4d4d4d; }

.page2 {
  background: url(../../../images/menus/topbar.png) 0 0 repeat-x; }

.page,
.page2 {
  margin-bottom: 0; }

@media screen and (max-device-width: 760px) {
  .page2 {
    background-position: 0 -7px; }

  .page,
  .page2 {
    margin-bottom: 0; } }
.page--2col {
  margin-bottom: 50px; }

@media screen and (max-device-width: 760px) {
  .page--2col {
    margin-bottom: 0; } }
.page-width:after {
  clear: both; }

.page-width:before, .page-width:after {
  content: "";
  display: table;
  *display: inline;
  zoom: 1;
  line-height: 0; }

.page-width:before, .page-width:after {
  content: "";
  display: table;
  *display: inline;
  zoom: 1;
  line-height: 0; }

.page-width {
  margin-left: auto;
  margin-right: auto; }

.page-width {
  width: 940px; }

@media screen and (max-width: 1020px) {
  .page-width {
    width: 720px; } }
@media screen and (max-device-width: 760px) {
  .page-width {
    width: auto; } }
.logo {
  vertical-align: middle;
  text-indent: -99999pt;
  display: block;
  overflow: hidden;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.logo-outer {
  width: 100px;
  height: 100px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.logo--medium {
  background: url(../../../images/logos/logo-flat.png) 0 0 no-repeat;
  width: 100px;
  height: 100px; }

.logo--small {
  background: url(../../../images/logos/logo-flat-small.png) 0 0 no-repeat;
  width: 66px;
  height: 66px; }

.logo-partner {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-left: 50px; }

@media screen and (max-device-width: 760px) {
  .logo-outer {
    height: auto;
    width: auto; }

  .logo--medium,
  .logo--small {
    background: url(../../../images/logos/logo-flat@2x.png) 0 0 no-repeat;
    width: 55px;
    height: 55px;
    background-size: 55px 55px; } }
.header {
  position: relative;
  margin-bottom: 24px; }

.header--drivers {
  margin-bottom: 10px; }

.header__inner {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100%;
  vertical-align: top; }

.header__btn-group {
  float: right;
  position: relative;
  margin-bottom: 15px;
  top: -4px; }

.header__side {
  float: right;
  margin-top: 34px;
  position: relative; }

.header__menu-lang {
  text-align: right; }

.header__city-selector {
  margin-left: 20px;
  position: relative;
  top: -4px;
  vertical-align: middle; }

.header__city-selector2 {
  float: right;
  margin-bottom: 8px; }

.header_link-taxi-driver {
  left: 90px;
  position: absolute;
  top: 10px; }

.lang-ja .header_link-taxi-driver {
  left: 65px;
  font-size: 11px; }

@media screen and (max-width: 1020px) {
  .header__btn-group {
    position: relative; } }
@media screen and (max-device-width: 760px) {
  .header {
    position: relative;
    margin-bottom: 25px; } }
.footer {
  background: #fafafa;
  width: 100%;
  display: table-row;
  *display: block;
  height: 1px;
  *height: auto;
  overflow: hidden; }

.footer__app-links {
  margin: 10px 0 20px; }

.footer__app-links .icon-text {
  font-size: 13px;
  padding: 5px 0; }

.footer .copyright {
  display: block;
  clear: both;
  padding: 0;
  padding-top: 20px;
  font-size: 90%;
  text-align: center;
  background: #f1f1f1;
  border-top: 1px solid #cbcbcb; }

.footer .copyright h4,
.footer .copyright p {
  margin: 0; }

.footer .copyright h4 {
  color: #737373;
  font-size: 16px; }

.footer .copyright .apple-attribution {
  padding: 0 0 40px 0;
  font-size: 12px; }

.city-tokyo .footer .copyright .apple-attribution {
  margin: 0 auto;
  max-width: 500px; }

.footer .copyright h4.accessible span {
  background: url("../../../images/icons/icon_accessible.png") 100% center no-repeat;
  clear: both;
  display: inline-block;
  height: 31px;
  line-height: 31px;
  padding-right: 35px; }

.city-tokyo .footer .copyright h4.accessible span {
  font-size: 14px; }

.footer .copyright .menu {
  padding-bottom: 30px; }

.footer .copyright li a {
  font-size: 12px;
  font-weight: bold;
  padding: 0; }

.footer ul,
.footer li {
  list-style-type: none;
  margin: 0; }

.footer .menu {
  text-align: center;
  display: block;
  margin: 0;
  padding: 13px;
  border-top: 1px solid #ededed; }

.footer .menu li {
  display: inline;
  margin: 0; }

.footer .copyright .menu li {
  font-size: 12px;
  padding: 0 15px; }

.footer .menu a {
  margin: 0;
  display: inline;
  padding: 0 20px;
  font-weight: bold; }

.footer .menu .current a {
  color: #737373;
  cursor: default; }

.footer .menu .current a:hover, .footer .menu .current a:focus {
  text-decoration: none;
  color: #737373; }

.footer .menu {
  padding-top: 18px;
  padding-bottom: 16px; }

.footer .menu {
  margin: 0; }

.footer-iphone {
  background: url(../../../images/iphone-img.png) no-repeat scroll 0 0 transparent;
  float: right;
  height: 100px;
  text-indent: -99999px;
  width: 80px; }

.copyright .menu {
  border: none; }

@media screen and (max-device-width: 760px) {
  .footer {
    padding: 0;
    margin-top: 0;
    height: auto;
    position: static; }

  .footer ul.menu li, .footer .menu li {
    padding: 0; }

  .footer ul.menu li a, .footer .menu li a {
    display: block;
    clear: both;
    margin: 20px 0; }

  .footer ul.menu li:last-child a, .footer .menu li:last-child a {
    border-bottom: 0; }

  .footer ul, .footer li {
    margin: 0;
    padding: 0; }

  .footer .menu {
    padding-top: 0; }

  .footer .copyright {
    padding: 20px 10px; }

  .footer .menu {
    border: none;
    padding-left: 0;
    padding-right: 0; }

  .footer .copyright .menu li {
    padding: 0; }

  .footer .copyright .menu li:first-child {
    margin-bottom: 20px;
    display: block; }

  .footer .copyright h4 {
    margin-bottom: 15px;
    margin-top: 16px; }

  .copyright span {
    display: block; }

  .footer__app-links {
    margin: 10px 0; } }
.list-side li {
  margin-bottom: 15px; }

.content-side {
  margin-left: 10px; }

.sidebar__inner {
  margin-top: 50px; }

@media screen and (max-device-width: 760px) {
  .sidebar {
    margin-top: 0; }

  .sidebar__inner {
    margin-top: 60px;
    border-top: 1px solid #CBCBCB; } }
.main-content__inner {
  margin-left: 10px; }

@media screen and (max-device-width: 760px) {
  .main-content__inner {
    margin-left: 0; } }
/*----------------------------------------------------------------
	Styles Group: Lists
----------------------------------------------------------------*/
ol.numbered {
  padding: 0;
  margin: 0; }

ol.numbered li {
  list-style-type: none;
  position: relative;
  padding-left: 55px;
  margin-bottom: 15px; }

ol.numbered li span {
  width: 30px;
  height: 30px;
  background: url(../../../images/icons/icon-number.png) 0 0 no-repeat;
  margin-right: 25px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 30px; }

.list-articles__item {
  background: url(../../../images/icons/icon-paper.png) no-repeat scroll 0 4px transparent;
  margin-bottom: 15px;
  padding-left: 32px; }

.list-articles__link {
  display: block; }

.list-articles__cite {
  font-size: 13px;
  display: block; }

.list-bullet li {
  position: relative; }

.list-bullet em {
  background: #AAAAAA;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  height: 11px;
  left: 5px;
  opacity: 0.5;
  position: absolute;
  top: 6px;
  width: 11px; }

.list-bullet p {
  margin-left: 35px; }

.content-webview ul {
  margin-left: 0; }

.content-webview li {
  position: relative;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }

.content-webview em {
  background: #AAAAAA;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  height: 11px;
  left: 5px;
  opacity: 0.5;
  position: absolute;
  top: 6px;
  width: 11px; }

.content-webview ul p {
  margin-left: 35px; }

/*----------------------------------------------------------------
	Styles Group: Boxes
----------------------------------------------------------------*/
.box-side {
  margin-bottom: 20px;
  background: #fbfbfb;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#FFFBFBFB', endColorstr='#FFDDDDDD')";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#FFFBFBFB', endColorstr='#FFDDDDDD');
  /* IE6–IE9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#dddddd));
  /* Saf4+, Chrome */
  background: -webkit-linear-gradient(left, #fbfbfb, #dddddd);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-linear-gradient(left, #fbfbfb, #dddddd);
  /* FF3.6+ */
  background: -o-linear-gradient(left, #fbfbfb, #dddddd);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fbfbfb, #dddddd);
  /* IE10 */
  background: linear-gradient(left, #fbfbfb, #dddddd);
  padding: 1px 0 1px 1px;
  border-right: 1px solid #dddddd; }

.box-side-inner {
  background: #fbfbfb;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#FFFBFBFB', endColorstr='#FFFFFFFF')";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#FFFBFBFB', endColorstr='#FFFFFFFF');
  /* IE6–IE9 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(white));
  /* Saf4+, Chrome */
  background: -webkit-linear-gradient(left, #fbfbfb, white);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-linear-gradient(left, #fbfbfb, white);
  /* FF3.6+ */
  background: -o-linear-gradient(left, #fbfbfb, white);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fbfbfb, white);
  /* IE10 */
  background: linear-gradient(left, #fbfbfb, white);
  display: table;
  width: 100%; }

.box-side,
.box-side-inner {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0; }

.box-side-inner-inner {
  margin: 20px 10px; }

@media screen and (max-device-width: 760px) {
  .box-side {
    border-right: none;
    margin-bottom: 0;
    border-bottom: 1px solid #EFEFEF;
    padding: 0; }
    .box-side:last-child {
      border-bottom: none; }

  .box-side,
  .box-side-inner {
    background: #ffffff;
    border-radius: 0px; }

  .box-side-inner-inner {
    margin: 0; } }
@media screen and (max-device-width: 760px) {
  .page-section {
    padding: 0 10px; } }
/*----------------------------------------------------------------
	Styles Group: Menus
----------------------------------------------------------------*/
.menu-side__item {
  margin-bottom: 25px; }

.menu-side__link {
  font-weight: bold; }

.menu-side__item.current {
  background: url(../../../images/arrows/arrow-right.png) no-repeat scroll 97% center transparent; }

.menu-side__item.current a {
  color: #000333; }

@media screen and (max-device-width: 760px) {
  .menu-side {
    margin-bottom: 0;
    text-align: center; }

  .menu-side__item {
    border-bottom: 1px solid #EFEFEF;
    margin: 0;
    padding: 10px 0; }
    .menu-side__item:last-child {
      border-bottom: none; }

  .menu-side__item.current {
    display: none; } }
.menu-main-wrapper {
  background: #ffffff;
  border-bottom: 1px solid #CBCBCB;
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.menu-main {
  display: inline-block;
  zoom: 1;
  *display: inline;
  left: 135px;
  position: relative;
  vertical-align: top;
  top: -3px; }

.menu-main__item {
  float: left;
  line-height: 54px;
  padding-top: 3px; }

.menu-main__link {
  padding: 0 20px;
  display: block;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 1px 0 #FFFFFF; }

.menu-main__link:hover,
.menu-main__link:focus {
  background: #2191D6;
  color: #ffffff;
  text-shadow: 0 -1px 0 #1481C6;
  text-decoration: none; }

.menu-main__item.current {
  background: url(../../../images/menus/topbar-current.png) 0 0 repeat-x; }

.menu-main__item.current a {
  background: #ffffff; }

.menu-main__item.current a:hover,
.menu-main__item.current a:focus {
  color: #1481C6;
  text-shadow: 0 1px 0 #fff; }

@media screen and (max-width: 1020px) {
  .menu-main {
    left: 80px; }

  .menu-main__link {
    font-size: 14px; } }
