.menu-main-wrapper {
	background: #ffffff;
	border-bottom: 1px solid #CBCBCB;
	height: 55px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.menu-main {
	@include inline-block;
	left: 135px;
	position: relative;
	vertical-align: top;
	top: -3px;
}

.menu-main__item {
	float: left;
	line-height: 54px;
	padding-top: 3px;
}

.menu-main__link {
	padding: 0 20px;
	display: block;
	font-weight: bold;
	margin: 0;
	text-shadow: 0 1px 0 #FFFFFF;
}

.menu-main__link:hover, 
.menu-main__link:focus {
	background: #2191D6;
	color: #ffffff;
	text-shadow: 0 -1px 0 #1481C6;
	text-decoration: none;
}

.menu-main__item.current {
 	background: url(../../../images/menus/topbar-current.png) 0 0 repeat-x;
}

.menu-main__item.current a {
	background: #ffffff;
}

.menu-main__item.current a:hover, 
.menu-main__item.current a:focus {
	color: #1481C6;
	text-shadow: 0 1px 0 #fff;
}

@include breakpoint(medium) {
	.menu-main {
		left: 80px;
	}

	.menu-main__link {
		font-size: 14px;
	}
}

@include breakpoint(narrow) {
	.menu-wrapper {

	}
}
