<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>HAILO Labs - {{ page.title }}</title>
        <link rel="stylesheet" href="//fast.fonts.com/cssapi/d186c118-210e-4020-a190-152e3bd705f4.css"/>
        <link rel="stylesheet" media="all" href="/styles.css" />
        {% if page.url == "/team/index.html" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/js/github-members.js"></script>
        {% endif %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-23846614-4', 'hailocab.com');
          ga('send', 'pageview');
        </script>
        <meta property="og:title" content="Hailo Labs">
        <meta property="og:type" content=company>
        <meta property="og:url" content="http://labs.hailocab.com">
        <meta property="og:site_name" content="Hailo Labs">
        <meta property="og:description" content="Hailo Labs">
        <meta property="fb:admins" content="197812744">
    </head>
    <body>
        <div class="page page--2col">
            <header class="header ">
                <div class="menu-main-wrapper"></div>
                <div class="page-width">
                    <div class="header__inner">
                        <div class="logo-outer">
                            <a href="/" class="logo logo--small">HAILO Labs.</a>
                        </div>
                        <nav class="menu-main">
                            <ul class="menu-main__list list-unstyled">
                                <li class="menu-main__item">
                                    <a class="menu-main__link" href="/team/" target="_self">Team</a>
                                </li>
                                <li class="menu-main__item">
                                    <a class="menu-main__link" href="/talks/" target="_self">Talks</a>
                                </li>
                                <li class="menu-main__item">
                                    <a class="menu-main__link" href="/" target="_self">Blog</a>
                                </li>
                                <li class="menu-main__item">
                                    <a class="menu-main__link" href="https://github.com/hailolab/">Github</a>
                                </li>
                                <li class="menu-main__item">
                                    <a class="menu-main__link" href="https://www.twitter.com/HailoLabs" target="_self">Twitter</a>
                                </li>
                                <li class="menu-main__item">
                                    <a class="menu-main__link" href="http://jobs.hailocab.com" target="_self">Jobs</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="page-width">
                    <div class="container__inner">
                        <div class="grid--rev">
                            <div class="grid__item three-quarters palm--one-whole main-content">
                                <div class="main-content__inner">
                                    <div class="page-section">
                                        <article>
                                            <h2>{{page.title}}</h2>
                                            <h3>{{page.author}}</h3>
                                            {{content}}
                                        </article>
                                    </div>
                                </div>
                            </div><div class="grid__item  one-quarter palm--one-whole sidebar">
                                <br>
                                <h1>Hailo Labs</h1>
                                <h3>Engineering@Hailo</h3>
                                {% if page.url != "/talks/index.html" and page.url != "/team/index.html" %}
                                <aside class="sidebar__inner">
                                    <section class="box-side hidden-mobile">
                                        <div class="box-side-inner">
                                            <div class="box-side-inner-inner">
                                                <div class="sidebar">
                                                    <ul class="menu-side list-unstyled">
                                                        {% for post in site.posts %}
                                                            <li class="menu-side__item">
                                                                <span><a class="menu_side__link" href="{{ post.url }}">{{ post.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </aside>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__inner">
                <div class="copyright">
                    <ul id="menu-footer-links" class="menu">
                        <li>&copy; 2013 Hailo - All Rights Reserved.</li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
