.box-side {
	margin-bottom: 20px;
	@include gradient(left, #fbfbfb, #dddddd);
	padding: 1px 0 1px 1px;
	border-right: 1px solid #dddddd;
}

.box-side-inner {
	@include gradient(left, #fbfbfb, #ffffff);
	display: table;
	width: 100%;
}

.box-side,
.box-side-inner {
	@include vendor(border-radius, 0 10px 10px 0);
}

.box-side-inner-inner {
	margin: 20px 10px;
}

@include breakpoint(narrow) {
	.box-side {
		border-right: none;
		margin-bottom: 0;
		border-bottom: 1px solid #EFEFEF;
		padding: 0;

		&:last-child {
			border-bottom: none;
		}
	}

	.box-side,
	.box-side-inner {
		background: #ffffff;
		border-radius: 0px;
	}

	.box-side-inner-inner {
		margin: 0;
	}	
}