@mixin opacity($param) {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $param * 100 ")";
	/* IE 5-7 */
	filter: alpha(opacity= $param * 100 );
	-moz-opacity: $param;
	/* Safari 1.x */
	-khtml-opacity: $param;
	/* Opera */
	-o-opacity: $param;
	/* Good browsers */
	opacity: $param;
}