@include breakpoint(medium) {

	.hidden-medium {
		display: none !important;
	}

}

.hidden-all-but-mobile,
.hidden-all-but-mobile-ib {
	display: none !important;
}

@include breakpoint(narrow) {

	.hidden-all-but-mobile {
		display: block !important;
	}

	.hidden-all-but-mobile-ib {
		display: inline-block !important;
		zoom: 1;
		*display: inline !important;
	}

	.hidden-mobile {
		display: none !important;
	}

}