body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: rgb(250,250,250);
}
footer {
    width: 100%;
    padding-bottom: 20px;
    text-align: center
}

#container {
    clear: both;
}
#content {
    max-width: 1200px;   
    padding: 0 10px;

    .post {
        border-top: thin solid #eee;
        padding: 43px 0;

        &.post-main {
            padding-top: 10px;
            .post-container {
                .author {
                    color: #999;
                    font-weight: 100;
                    font-size: 16px;
                }
            }
        }

        .author-image {
            float: left;
            max-width: 80px;
        }
        .post-meta {
            margin-left: 92px;
            position: relative;
            top: 0;
            left: 0;
            h2 {
                font-weight: bold;
                color: #333;
                margin: 0;
            }
            .author {
                color: #999;
                font-weight: 100;
                font-size: 16px;
            }
            .content {
                color: #555;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

nav.site-nav {
    //background: #fff;
    //box-shadow: inset -4px 0 5px -5px rgba(0,0,0,0.2);
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline;
            & > div {
                float: left;
                padding-left: 15px;
                padding-top: 10px;
                width: 50px;
                height: 50px;
            }
            a.pure-button {
                padding: 0;

                width: 50px;
                height: 50px;
                font-size: 28px;
                line-height: 50px;
                transition: .1s linear;

                &.home-button {
                    background-image: url('/assets/img/hailo_icon_Hailo+Icon.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 28px 28px;
                    img {
                        max-width: 30px;
                        max-height: 30px;
                    }
                }
                &.sub-button:hover {
                    text-decoration: none;
                    background-image: none;
                    background: rgba(0,0,0,0);
                    box-shadow: none;
                    border: 0;
                    font-size: 40px;
                }
            }
        }
    }
}


@media all and (min-width:500px) {
    nav.site-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        min-width: 80px;

        ul {
            li {
                display: block;
                & > div {
                    float: none;
                }
            }
        }
    }

    #container {
        margin-left: 80px;
    }
}


@media all and (min-width:800px) {
    nav.site-nav {
        width: 15%
    }

    #container {
        margin-left: 15%;
    }
    #content {
        margin: auto auto;
    }
}
