body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: rgb(240,240,240);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Trade Gothic W01 Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
footer {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #ccc;
}
#container {
    clear: both;
}
#content {
    max-width: 1200px;   
    padding: 0 10px;

    .post {
        border-top: thin solid #e9e9e9;
        padding: 20px 0 25px;

        &.post-main {
            padding-top: 10px;
            .post-container {
                .author {
                    color: #999;
                    font-weight: 100;
                    font-size: 16px;
                }
            }
        }

        &.post-home {
            & > a {
                text-decoration: none;
            }
        }
        .author-image {
            display: none;
        }
        .post-meta {
            margin-left: 0px;
            position: relative;
            top: 0;
            left: 0;
            h2 {
                font-size: 32px;
                color: #2f6c88;
                margin: 0;
            }
            .author {
                color: #ccc;
                font-weight: 100;
                font-size: 16px;
            }
            .content {
                color: #555;
            }
            p {
                margin-top: 11px;
                margin-bottom: 0;
            }
        }
    }
}

nav.site-nav {
    .wrapper {
        background: rgb(245,245,245);
        box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline;
                & > div {
                    float: left;
                    padding-lreft: 15px;
                    width: 45px;
                    height: 50px;
                }
                a.pure-button {
                    background: #ffffff;
                    background: rgba(255,255,255,0);
                    border-radius: 0px;
                    padding: 0;
                    position:relative;

                    width: 50px;
                    height: 50px;
                    font-size: 28px;
                    line-height: 50px;
                    transition: .05s linear;

                    &.home-button {
                        background: #fabb14;
                        cursor: default;
                        background-image: url('/assets/img/hailo_icon_Hailo+Icon.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 28px 28px;
                        img {
                            max-width: 30px;
                            max-height: 30px;
                        }
                        &, &:hover {
                            text-decoration: none;
                        }
                    }
                    &.sub-button:hover {
                        color: #459ec8;
                        text-decoration: none;
                        background-image: none;
                        background: rgba(0,0,0,0);
                        box-shadow: none;
                        border: 0;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}


@media all and (min-width:500px) {
    nav.site-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 62px;
        .wrapper {
            padding-top: 10px;
            width: 62px;
            padding-left: 10px;
            height: 100%;
            ul {
                li {
                    display: block;
                    & > div {
                        width: 50px;
                        float: none;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    #container {
        margin-left: 80px;
    }

    #content {
        .post {
            padding: 40px 0 45px;
            .author-image {
                display: block;
                float: left;
                max-width: 80px;
                margin-top: 7px;
            }
            .post-meta {
                margin-left: 92px;
            }
        }
    }
}


@media all and (min-width:800px) {
    nav.site-nav {
        width: 15%;
        .wrapper {
            ul {
                li {
                    a.pure-button {
                        &.nav-hidden {
                            //opacity: 0;
                            //left: -70px;
                        }
                    }
                }
            }
        }
    }

    #container {
        margin-left: 15%;
    }
    #content {
        margin: auto auto;
    }
}
