.list-articles {

}

.list-articles__item {
    background: url(../../../images/icons/icon-paper.png) no-repeat scroll 0 4px transparent;
    margin-bottom: 15px;
    padding-left: 32px;
}

.list-articles__link {
	display: block;
}

.list-articles__cite {
	font-size: 13px;
	display: block;
}