.footer {
    background: #fafafa;
    width: 100%;
    display: block;
    height: 1px;
    overflow: hidden;
}

.footer .copyright {
    display: block;
    clear: both;
    padding: 0;
    padding-top: 20px;
    font-size: 90%;
    text-align: center;
    background: #f1f1f1;
    border-top: 1px solid #cbcbcb;
}

.footer .copyright h4,
.footer .copyright p {
    margin: 0;
}

.footer .copyright h4 {
    color: #737373;
    font-size: 16px;
}

.footer .copyright .apple-attribution {
    padding: 0 0 40px 0;
    font-size: 12px;
}

.footer .copyright .menu {
    padding-bottom: 30px;
}

.footer .copyright li a {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
}

.footer ul,
.footer li, {
    list-style-type: none;
    margin: 0;
}

.footer .menu {
    text-align: center;
    display: block;
    margin: 0;
    padding: 13px;
}

.footer .menu li {
    display: inline;
    margin: 0;
}

.footer .copyright .menu li {
    font-size: 12px;
    padding: 0 15px;
}

.footer .menu a {
    margin: 0;
    display: inline;
    padding: 0 20px;
    font-weight: bold;
}

.footer .menu .current a {
    color: #737373;
    cursor: default;
}

.footer .menu .current a:hover, .footer .menu .current a:focus {
    text-decoration: none;
    color: #737373;
}

.footer .menu {
    padding-top: 18px;
    padding-bottom: 16px;
}

.footer .menu {
    margin: 0;
}

.copyright .menu {
    border: none;
}

/* Sticky footer */
.page {
    min-height: 100%;
}

.container{
    overflow: auto;
    padding-bottom: 180px;
}

.footer {
    position: relative;
    margin-top: -180px;
    height: 180px;
}