/* ==========================================================================
     $TYPOGRAPHY
   ========================================================================== */

body {
    font-family: $helvetica;
    line-height: 1.6;
    font-size: 16px;
    color: $text-color;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a,
a:hover,
a:focus,
a:visited {

}

img {

}

.alignleft {
    float: left;
    margin-right: 20px;
}

.alignright,
.img-alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.alignleft,
.alignright {
    padding-top: 5px;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

strong {
    font-weight: bold;
}

.strong-alt,
.text--brand {
    color: $hailo-yellow;
}

small {
    font-size: 12px;
}

.muted {
    color: #999999;
}

p {
    margin: 10px 0;
}

.page-intro {
    font-size: 20px;
    margin-bottom: 20px;
    color: #737373;
    font-family: $trade-gothic;
}

blockquote {
    margin: $default-v-margin 30px;
}

blockquote cite {

}

blockquote small {
    color: #999999;
    display: block;
    line-height: 20px;
    font-size: 80%;
}

hr {
    display: block;
    clear: both;
    @include opacity(0.1);
    margin-top: 28px;
    margin-bottom: 25px;
}

/* <headings> */

h1 {
    font-size: 32px;
    font-family: $trade-gothic-bold2;
    margin: 0 0 22px;
    line-height: 1.2;
}

h1 strong,
h2 strong {
    font-weight: normal;
    font-family: $trade-gothic-bold2;
}

.title--featured {
    font-size: 48px;
    color: #000000;
    font-weight: normal;
    font-family: $trade-gothic;
    line-height: 1.2;
}

.title--featured strong {
    font-family: $trade-gothic-bold;
}

h2 {
    font-size: 24px;
    font-family: $trade-gothic;
    margin: $default-v-margin 0;
}

h2 strong {
    font-family: $trade-gothic-bold;
}

h3 {
    font-size: 18px;
}

.heading-alt {
    text-align: center;
    font-family: $trade-gothic-bold;
    font-weight: normal;
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

h2,
h2 a,
h3,
h3 a,
h6,
h6 a {
    color: $alt-heading-color;
}

h1,
h1 a,
h4,
h4 a,
h5,
h5 a {
    color: $main-heading-color;
}

h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h3,
h4,
h5,
h6 {
    margin: $default-v-margin 0 $default-v-margin/2;
}

.heading-twitter {
    background: url("../../../images/icons/icon-twitter.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    line-height: 40px;
    padding-left: 48px;
}

/* </headings> */

/* <text> */

.text-s {
    font-size: 12px;
}

.text-m {
    font-size: 14px;
}

.privacy-link {
    font-size: 14px;
    margin-top: 15px;
    color: #C0BFBF;
}

/* <lists> */

ul {

}

ol {

}

ul,
ol {
    margin: 0 0 $default-v-margin 25px;
    padding: 0;
}

ul ul, 
ul ol, 
ol ol, 
ol ul {
    margin-bottom: 0;
}

li {

}

ul li {

}

ol li {

}

ul li,
ol li {
    
}

.list-unstyled,
.list-reset {
    margin-left: 0;
}

.list-unstyled,
.list-simple,
.list-reset {
    list-style: none;
}

.list-reset {
    margin-bottom: 0;
}

.list-reset li {
    margin-bottom: 0;
}

.list-multiline li {
    margin-bottom: 10px;
}

.list-multiline ul,
.list-multiline ol {
    margin-top: 10px;
}

/* </lists> */

/* <tables> */

table {
    margin-bottom: $default-v-margin;
}

table td,
table th {
    padding: 5px 10px;
}

table td:first-child,
table th:first-child {
    padding-left: 0;
}

table th {
    color: $alt-heading-color;
    font-weight: bold;
}

/* </tables> */

.tagline {
    color: #000000;
    font-size: 34px;
    font-weight: bold;
    margin-left: 40px;
    position: relative;
    top: 10px;
    @include inline-block;
}

.link-driver {
    color: #464646;
    @include inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-left: 20px;
    position: static;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    top: -2px;  
}

.link-driver strong {
    color: #A7A9AC;
    display: block;
    font-size: 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    line-height: 18px;
}

.link-taxi-driver {
    @include inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    vertical-align: middle;

    &:hover {
        text-decoration: none;
    }
}


.link-taxi-driver span {
    background-image: url("../../../images/driver/driver-underline_mobile.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 67px 7px;
    display: inline-block;
    margin: 0 auto;
}