/* <fonts> */
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$trade-gothic: "Trade Gothic W01 Light", Helvetica, Arial, Verdana, sans-serif;
$trade-gothic-bold: "Trade Gothic W01 Bold", Helvetica, Arial, Verdana, sans-serif;
$trade-gothic-bold2: "Trade Gothic W01 Bold 2", Helvetica, Arial, Verdana, sans-serif;
/*
font-family:'Trade Gothic W01 Light';
font-family:'TradeGothicW01-LightObl';
font-family:'Trade Gothic W01 Roman';
font-family:'Trade Gothic W01 Obl';
font-family:'Trade Gothic W01 Bold';
font-family:'Trade Gothic W01 Bold 2';
font-family:'TradeGothicW01-Bold2Obl';
*/

/* <colours> */

/* <heading colors> */
$text-color: #737373;
$main-heading-color: #333333;
$alt-heading-color: #464646;
$light-heading-color: #999999;

/* <link colors> */
$link-color: #1481C6;
$light-link-color: #ffffff;
$light-link-color-hover: #ffbd00;

/* <field colors> */
$default-placeholder-color: #999999;
$field-color-selected: #464646;

$error-color: #CA0818;
$hailo-yellow: #FFBD00;
$greyed-out: #b7b7b7;

$body-bg-color: #fbfbfb;
$main-box-bg-color: #F0F1F1;

/* <margins> */

$default-v-margin: 20px;