@mixin gradient-colorstop($startPosition, $startColor, $endColor, $stop) {
	background: $startColor;

	@if $startPosition == top {
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$startColor}, endColorstr=#{$endColor}); /* IE6–IE9 */
		background: -webkit-gradient(linear, center top, center bottom, from($startColor), to($endColor)); /* Saf4+, Chrome */    
	}	

	@if $startPosition == left {
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$startColor}, endColorstr=#{$endColor}); /* IE6–IE9 */
		background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor)); /* Saf4+, Chrome */    
	}	

  	background-image: -webkit-gradient(linear, center bottom, center top, color-stop($stop, $startColor), color-stop(1, $endColor));
	background: -webkit-linear-gradient($startPosition, $startColor $stop, $endColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background: -moz-linear-gradient($startPosition, $startColor $stop, $endColor); /* FF3.6+ */
	background: -o-linear-gradient($startPosition, $startColor $stop, $endColor); /* Opera 11.10+ */
	background: -ms-linear-gradient($startPosition, $startColor $stop, $endColor); /* IE10 */
	background: linear-gradient($startPosition, $startColor $stop, $endColor);

}