.logo {
	vertical-align: middle;
	@include image-replaced;
	@include inline-block;
}

.logo-outer {
	@include size(100px, 100px);
	@include inline-block;
}

.logo--medium {
	background: url(../../../images/logos/logo-flat.png) 0 0 no-repeat;
	@include size(100px, 100px);
}

.logo--small {
	background: url(../../../images/logos/logo-flat-small.png) 0 0 no-repeat;
	@include size(66px, 66px);
}

.logo-partner {
	@include inline-block;
	margin-left: 50px;
}

@include breakpoint(narrow) {
	
	.logo-outer {
		height: auto;
		width: auto;
	}

	.logo--medium,
	.logo--small {
		background: url(../../../images/logos/logo-flat@2x.png) 0 0 no-repeat;
		@include size(55px, 55px);
		background-size: 55px 55px;
	}
}