<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>HAILO Labs - {{ page.title }}</title>
        <link rel="stylesheet" href="//fast.fonts.com/cssapi/d186c118-210e-4020-a190-152e3bd705f4.css"/>
        <link rel="stylesheet" media="all" href="styles.css" />
        {% if page.url == "/team.html" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="/js/github-members.js"></script>
        {% endif %}
        <meta property="og:title" content="Hailo Labs">
        <meta property="og:type" content=company>
        <meta property="og:url" content="http://labs.hailocab.com">
        <meta property="og:site_name" content="Hailo Labs">
        <meta property="og:description" content="Hailo Labs">
        <meta property="fb:admins" content="197812744">
    </head>
    <body>
        <div class="page">
            <div class="container page-width">
                <div class="header">
                    <div class="logo-outer">
                        <a href="/" class="logo"></a>
                    </div>
                    <h2>HAILO Labs.</h2>
                    <p>We're gonna need a bigger boat.</p>
                </div>
                <div class="sidebar">
                    <ul class="posts">
                        {% for post in site.posts %}
                            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="container__inner">
                    <h1>{{page.title}}</h1>
                    {{content}}
                </div>
            </div>
        </div>
        <div class="footer">
            <ul class="menu">
                <li>
                    <a href="/team.html" target="_self">Team</a>
                </li>
                <li>
                    <a href="/" target="_self">Blog</a>
                </li>
                <li>
                    <a href="/talks.html" target="_self">Talks</a>
                </li>
                <li>
                    <a href="https://github.com/hailolab">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/HailoLabs" target="_self">Twitter</a>
                </li>
                <li>
                    <a href="http://jobs.hailocab.com" target="_self">Jobs</a>
                </li>
            </ul>
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; 2013 Hailo - All Rights Reserved.</li>
               </ul>
            </div>
        </div>
    </body>
</html>
