<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./css/screen.css" type="text/css" media="screen, projection" />

    <meta property=og:title content="Hailo Labs">
    <meta property=og:type content=company>
    <meta property=og:url content="http://labs.hailocab.com">
    <meta property=og:site_name content="Hailo Labs">
    <meta property=og:description content="Hailo Labs">
    <meta property=fb:admins content=197812744>
</head>
<body>

 {{ content }}

</body>
</html>
